devices:
{% for host in _testbed %}
  {{ hostvars[host]['inventory_hostname'] }}:
    connections:
      cli:
        ip: {{ hostvars[host]['ansible_host'] }}
        protocol: ssh
    credentials:
      default:
        password: {{ hostvars[host]['ansible_ssh_pass'] }}
        username: {{ hostvars[host]['ansible_user'] }}
      enable:
        password: {{ hostvars[host]['ansible_password'] }}
    os: {{ hostvars[host]['ansible_network_os'] }}
    type: {{ hostvars[host]['ansible_network_os'] }}
{% endfor %}
