devices:
{% for host in _testbed %}
  {{ hostvars[host]['inventory_hostname'] }}:
    connections:
      cli:
        ip: {{ hostvars[host]['ip'] }}
        protocol: {{ hostvars[host]['protocol'] }}
    credentials:
      default:
        password: {{ hostvars[host]['password'] }}
        username: {{ hostvars[host]['username'] }}
      enable:
        password: {{ hostvars[host]['enable_password'] }}
    os: {{ hostvars[host]['os'] }}
    type: {{ hostvars[host]['type'] }}
{% endfor %}
